{% extends 'base.twig' %}
{% block body %}
    <div class="jumbotron" style="background-image: url('../img/1273687.jpg'); background-position: center right">
        <h2 class="white">Sie sind ...</h2>
        <br>
        <p class="white">an insgesamt
            <strong>{{ data.total_activity }}</strong> {% if data.total_activity == 1 %}Tag {% else %}Tagen {% endif %}
            gelaufen</p>
        <p class="white">im Zeitraum von
            <strong>{{ data.activity_span }}</strong> {% if data.activity_span == 1 %}Tag {% else %}Tagen {% endif %}
        </p>
        <p class="white">Das sind insgesamt <strong>{{ data.total_km }}</strong> Kilometer innerhalb von
            <strong>{{ data.total_h }}</strong> Stunden</p>
    </div>
{% endblock %}