{% extends "base.twig" %}
{% block body %}
    <div class="mt-1">
        <h2>Wilkommen auf <strong>SuperRun</strong>.</h2>
        <p class="lead">Nutzen Sie dieses Lauftagebuch um einen Überblick ihrer Aktivitaten zu bekommen.</p>
        <p>Hier einen <a href="input.php">Eintrag</a> erstellen.</p>
    </div>
{% endblock %}